body {background: url('bilder/bmx2.jpg') no-repeat;
	background-size:  cover;
	font-family: arial;
	color: white;
 }

.header {
padding: 40px;
text-align: center;
background: #1abc9c;
color: white;
}

.header h1{
    font-size: 40px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;


}

ul li{
    float: left;
    
}

ul li a{
 display: block;
 color:white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

ul li a:hover {
    color: red;
   
}



/* Ensure proper sizing  */

* {
    box-sizing: border-box;
}

img {
    float: left;
    margin-right: 1rem;
    display: block;
    clip-path: ellipse(40% 40%);
    shape-outside: ellipse(40% 40%);
}

p {
    margin: 0;
    font-size: 1rem;
}